java/knowledge/t.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0">
    <xs:element name="root" type="Root"/>
    <xs:complexType name="Root">
        <xs:sequence>
            <xs:element name="Value" type="xs:anyType" minOccurs="0"/>
            <xs:element name="Metadata" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>